/* App.css */

:root {
  --primary-color: #f8a01d;
  --secondary-color: #333;
  --accent-color: #f44336;
  --background-color: #f7f7f7;
  --text-color: #333;
  --font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ddd;
}

html {
  scroll-behavior: smooth;
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('upscaled-2x-shoppepic.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.banner.scrolled {
  transform: translateY(-100%);
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

h1, h2 {
  color: var(--primary-color);
}

button {
  color: rgb(3, 0, 0);

}

button:hover {
  background-color: var(--accent-color);
}

li button {
  background-color: var(--accent-color);
}

li button:hover {
  background-color: #e53935;
}

button, li button {
  transition: background-color 0.3s;
}

.queue-info {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: inline-block;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form {
  margin: 20px 0;
  text-align: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.video-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

video {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
